services:
  frontend:
    image: pipinovi4/time-app-frontend-dev
    restart: always
    ports:
      - '5173:5173'

  api:
    image: pipinovi4/time-app-api-dev
    restart: always
    ports:
      - '5555:5000'
    depends_on:
      mysql:
        condition: service_healthy

    environment:
      MYSQL_HOST: mysql
      MYSQL_USER: root
      MYSQL_PORT: "3306"
      MYSQL_PASSWORD: password
      MYSQL_DB: time_db

  mysql:
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: time_db
    healthcheck:
      test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10
    volumes:
      - mysql_data_pub:/var/lib/mysql

  adminer:
    image: adminer
    ports:
      - '8888:8080'

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - api

volumes:
  mysql_data_pub: